<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iterepi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.RegisterMenuActivity"></activity>
        <activity android:name=".view.RegisterUserEmailActivity" />
        <activity android:name=".view.SectionStoreUser" />
        <activity android:name=".view.StoreHomeActivity" />
        <activity android:name=".view.UserFeedActivity" />
        <activity android:name=".view.AddToCartDialog" />
        <activity android:name=".view.SellDetailDialog" />
        <activity android:name=".view.UserProfileActivity" />
        <activity android:name=".view.PurchaseDetailDialog" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.LoginStoreActivity" />
        <activity android:name=".view.LoginUserActivity" />
        <activity android:name=".view.LoginUserEmailActivity" />
        <activity android:name=".view.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>